:root{
	--blue:#0033c7;
	--light:#e1e8ff;
}

*{
	box-sizing: border-box;
}
body{
	margin:0;
	font-family: 'Poppins', sans-serif;
	color:#666;
}
h1{
	font-size:60px;
	font-weight: 900;
	color:black;
}
h2{
	font-size: 28px;
	font-weight: 500;
	color:#000;
}
h3{
	font-size:18;
	font-weight: 500;
}
p{
	font-weight: 300;
	line-height: 1.8;
	font-size:16px;
}

.header-general{
	display:grid;
	grid-template-columns: 1fr 2fr;
	margin: 2rem auto;

}

/*About general*/
.subtitle-general{
	display:block;
	font-size:18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position:relative;
}
.subtitle-general small{
	background-color: #fff;
	padding-right:15px;
}

.subtitle-general small::after{
	position:absolute;
	top:50%;
	left:0;
	content:'';
	width:100%;
	height:1px;
	background-color:#e1e8ff;
	z-index:-1;
}

/*----END About General*/


/* Navigation */
.navigation{
	width:100%;
	/*z-index:3*/
}
.container{
	max-width: 90vw;
	margin:0 auto;
}
.navigation .container{
	display:flex;
	justify-content: space-between;

}
.logo{
	margin:16px 0;
}
.logo a{
	font-size:20px;
	font-weight: 900;
	color:black;
	text-decoration: none;
}
.menu-container{
	width:70%;
}
.menu-items{
	display:flex;
	justify-content: flex-end;
	list-style-type: none;
	padding:0;
}
.menu-item a{
	padding:24px 20px;
	color:black;
	font-size:14px;
	text-decoration: none;
}
.menu-item a:focus{
	color:var(--blue);
}

/* Slider */
.slider-wrapper{
	width:100%;
	height:90vh;
}
.sliders{
	height: 100%;
	width: 100%;
	position:relative;
}


.slider{
	height: 100%;
	width: 100%;
	display:flex;
	transform:scale(0.9);
	-webkit-transition: transform .7s ease-out;
	-moz-transition: transform .7s ease-out;
	transition: transform .7s ease-out;
	position:absolute;
	top:0;
	left:0;
	pointer-events: none;
}
.slider-animation-start{
	transform:scale(1);

}

/*Right Side of Sliders*/
.rightSide{
	width:70%;
	height:100%;
}
.slider1 .rightSide{
	background:url("../images/bg_1.jpg");
	background-size: cover;
}

.slider2 .rightSide{
	background:url("../images/bg_2.jpg");
	background-size: cover;
}

/*LeftS Side of Sliders*/
.leftSide{
	width:30%;
	height:100%;

}
.slider-text{
	position:relative;
	width:50vw;
	top:5vh;
	left:50vw;
	margin-left:-50vw;
}
.slider-button{
	padding:1rem 2rem;
	border-radius: 30px;
	border:none;
	border:solid 1px var(--blue);
	background: var(--blue);
	color:#fff;
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	margin-top:1rem;
	cursor: pointer;
	transition:.3s;
}

.slider-button:hover{
	background-color:transparent;
	color:var(--blue);
}

.navigation-dots{
	display:flex;
	align-items: flex-end;
	justify-content: center;
}

.navigation-dots ul{
	display:flex;
	padding:0;
	list-style-type: none;
}
.dot{
	color:black;
	text-decoration: none;
	padding:1rem;
	position:relative;
	bottom:50px;
}


/*About Section*/
.about-section{
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding-top:7rem;
	position:relative;
	z-index: 1;
}
.about-image{
	max-width:90%;
	height:100%;
	background: url('../images/bg_3.jpg');
	background-size: cover;
	background-position:center center;
}
.about-container{
	margin-left:3rem;
}




.about-container h2{
	margin-top:0;
}

.about-tekst{
	margin-top:3rem;
}
.about-tekst p{
	padding: 1rem 0;
}
.about-tekst a{
	font-weight:500;
	color: var(--blue);
	border-bottom:4px solid var(--blue);
	text-decoration: none;
}

/* Counter section */
.counter-section{
	height: 50vh;
	width:100%;
	margin-top:3rem;
	position:relative;
}

.counter{

	height: 100%;
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr) );
	align-items: center;
}

.parallax-main{
  	padding:6rem;
  	position:absolute;
  	top:0;
	left:0;
	right: 0;
	bottom:0;
  	background-image:url('../images/bg_3.jpg');
  	background-attachment: fixed;
	background-size:cover;
	background-position: center center;
	background-color:var(--blue);
	background-blend-mode: multiply;
	z-index:0;
}
.counter-item{
	text-align:center;
	color:#fff;
}
.item{
	font-size:40px;
	font-weight: 700;
}


/* Our Work Flow Section*/
.workflow-section{
	padding-top:4rem;
}


.workflow-features{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding:2rem 0;
}
.feature-icon{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:var(--blue);
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	position:relative;
}
.feature-icon::after{
	content:'';
	width:16rem;
	height:2px;
	background-color: var(--light);
	position:absolute;
	left:100px;

}
.feature-icon i{
	font-size:2.5rem;

	color:#fff;
}

.services-section{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding-top:5rem;
}
.services-header{
	padding-right:2rem;
}
.services-feature{
	margin-bottom:6rem;
	padding-right:2rem;
}
.service-icon{
	width:100px;
	height:50px;
}
.service-icon{
	font-size:2.5rem;
	color:var(--blue);
}

/*Project Section*/
.projects-section{
	margin-top:8rem;
}
.project-container{
	padding-right:5rem;
}

.project-items{
	display:grid;
	grid-template-columns: repeat(4, 1fr);

}


.project-single{
	height: 25vw;
	overflow:hidden;
	position:relative;

}
.ps{
	width:100%;
	height:100%;
	background-color:#fff;
	transition: all .5s ease-out;
}
.project-description{
	position:absolute;
	top:-8rem;
	transition: all .5s ease-out;
	padding: 2rem;
	color:#fff;
}
.project-description span{
	text-transform: uppercase;
	letter-spacing: 2px;
}
.project-description h3{
	font-size: 25px;
	margin:0;
}
.project-link{
	position:absolute;
	bottom:-8rem;
	margin:2rem;
	width: 60px;
	height: 60px;
	border: solid 1px #fff;
	border-radius:50%;
	padding: 20px;
	transition: all .5s ease;
}
.project-link i{
	font-size: 20px;
	color:#fff;
}
/*Hovers*/
.project-single:hover .ps{
	transform: scale(1.5);
	background-color:var(--blue);
	background-blend-mode: multiply;
}
.project-single:hover .project-description{
	top:0;
}
.project-single:hover .project-link{
	bottom:0;
}




.ps1{
	background-image: url('../images/work-1.jpg');
	background-size: cover;
	background-repeat:no-repeat;

}
.ps2{
	background-image: url('../images/work-2.jpg');
	background-size: cover;

}
.ps3{
	background-image: url('../images/work-3.jpg');
	background-size: cover;

}
.ps4{
	background-image: url('../images/work-4.jpg');
	background-size: cover;

}
.ps5{
	background-image: url('../images/work-5.jpg');
	background-size: cover;

}
.ps6{
	background-image: url('../images/work-6.jpg');
	background-size: cover;

}
.ps7{
	background-image: url('../images/work-7.jpg');
	background-size: cover;

}
.ps8{
	background-image: url('../images/work-8.jpg');
	background-size: cover;

}

/* Testimony*/
.testimony{
	width:100%;
	padding: 5rem 0;
}
.testimony-header{
	width: 70%;
	height:100%;
	padding: 4rem;
	margin:0 auto;
}
.testiomny-header-center .subtitle-general small{
	background:#fff;
}

/* Testiony slider*/
.testimony-slider{
	width: 65rem;
	height: 65vh;
	overflow:hidden;
	margin:3rem auto;
	display:grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr)
	justify-content: start;
	transition:transform 0.5s ease;
}

.testimony-item{
	min-width:22rem;
	padding: 0 4rem 3rem 4rem;
	/*margin: 2rem 1rem;*/
	transform: translateX(0);	
}

.user-image img{
	width:100px;
	height: 100px;
	border-radius:50%;
	
}
.user-image{
	position:relative;
	width:150px;
	
}

.icon{
	width: 40px;
	height: 40px;
	border-radius:50%;
	background:#fff;
	position:absolute;
	z-index: 10;
	right:50px;
	top:60px;
	font-size:20px;
	text-align:center;
	padding:10px;
	color:var(--blue);
}
.user-quote p{
	border-left:solid 1px var(--blue);
	padding:0 1rem;
}
.user-name{
	display:block;
	font-size:16px;
	font-weight: 700;
	padding:1rem 1rem;
}
.user-job{
	display:block;
	font-size:13px;
	padding:0 1rem;
}

.testimony-buttons ul{
	display:flex;
	list-style-type: none;
	padding-left:0;
	width: 20rem;
	margin:0 auto;
}
.testimony-button{
	width:10px;
	height: 10px;
	border-radius: 50%;
	border:solid 1px var(--blue);
	margin: 0 1rem;
	cursor:pointer;
	pointer-events: auto;
}
.testimony-button:hover{
	background:var(--blue);
}
.testimony-button::focus{
	background:var(--blue);
}